/* ----------------- universal ------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

/* ------------------ navigation bars ------------------ */
/* ------------------ navigation bar 1 ------------------ */

.nav1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #089da1;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav1 img {
  width: 4em;
  cursor: pointer;
  padding: 0.8em 0;
}

.nav1 li {
  display: inline-block;
}

.nav1 li a,
.nav2 li a {
  text-decoration: none;
  color: black;
  padding: 0.8em;
  font-size: 1em;
  display: block;
  width: inherit;
}

.socialicon i {
  margin-left: 0.8em;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.socialicon i:hover {
  color: #089da1;
  cursor: pointer;
}

.nav1 li a:hover {
  color: #089da1;
}

.bar {
  display: none;
}

/* ------------------ navigation bar 2 ------------------ */

.nav2 {
  display: none;
  width: 30%;
  min-width: 216px;
  height: 100vh;
  background-color: #089da1;
  box-shadow: 0 0 15px grey;
  position: fixed;
  right: -100%;
  transition: 0.5s all;
  z-index: 100;
}
.nav2 li {
  display: block;
}
.nav2 li a:hover {
  transition-duration: 1s;
  color: #fff;
  font-size: 1.1em;
  background-color: rgba(128, 128, 128, 0.632);
}

.nav2 i {
  padding: 1em;
}
.active {
  right: 0;
}

/* ------------------ main block ------------------ */

.main {
  width: 100%;
  height: 80vh;
  background-image: url(./image/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.main-tag {
  width: 60%;
  padding-left: 5%;
  padding-right: 2%;
}
.main-img,
.about_img {
  width: 40%;
}
.main-img img,
.about_img img {
  width: 100%;
}
.main-tag h1,
.about_tag h1 {
  font-size: 2.5em;
  padding-bottom: 5%;
}
.main-tag p,
.about_tag p {
  font-size: 1em;
  line-height: 1.25em;
  text-align: justify;
}
.main-tag .para,
.about_tag .para {
  padding-bottom: 10%;
}
.main-tag h1 span {
  color: #089da1;
}
.main-btn,
.about-btn {
  background-color: #089da1;
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
}
.main-btn:hover,
.about-btn:hover {
  box-shadow: 0 0 15px #c58f00;
}

/* service block */

.service_box {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin: 5% 0 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  grid-row-gap: 15px;
  padding-top: 74px;
}
.services_card {
  text-align: center;
  width: 310px;
  box-shadow: 0 0 10px #089da1;
  padding: 20px 10px;
}
.services_card:hover {
  box-shadow: 0 0 15px #c58f00;
}
.services_card i {
  color: #089da1;
  font-size: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}
.services_card h3 {
  margin-bottom: 10px;
}

/* about section */

.about {
  width: 100%;
  height: auto;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about_tag {
  width: 60%;
  padding: 2% 5% 0% 2%;
}

/* featured books*/

.featured_books {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  padding-top: 10%;
}
.featured_books h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 3%;
}
.featured_bbox {
  align-items: space-between;
  display: flex;
  justify-content: center;
}
.featured_bcard {
  position: relative;
  border: 1.5px solid #fff;
  box-shadow: 0 0 15px #089da1;
  width: 30%;
  height: auto;
  display: flex;
  margin: 10px;
  padding: 3px 5px 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.featured_bcard:hover {
  box-shadow: 0 0 15px #c58f00;
}
.featured_bimage {
  height: 12em;
  padding: 5%;
}
.bheart,
.cart {
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  color: #089da1;
  font-size: 1.2em;
}
.bheart:hover {
  color: red;
}
.bheart:visited {
  color: red;
}
.featured_bimage img {
  height: 100%;
  width: auto;
}
.featured_bcard h3 {
  text-align: center;
}
.featured_bcard p {
  text-align: center;
  font-size: 0.8em;
  padding-top: 0.5em;
}
.featured_bauthor p {
  font-style: italic;
  color: rgb(149, 142, 142);
}
.featured_bprice {
  padding-bottom: 0.5em;
}
.featured_bcategories {
  color: #089da1;
}
.featured_bbutton {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #089da1;
  height: auto;
}
.featured_bbutton a {
  font-size: 0.7em;
  padding: 0.2em;
  text-decoration: none;
  color: black;
}

/* wishlist */
.wishlist {
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.wishlist h1 {
  font-size: 20px;
  text-align: center;
  padding: 5% 0;
}
.wish_featured_bcard {
  position: relative;
  border: 1.5px solid #fff;
  box-shadow: 0 0 15px grey;
  width: 100%;
  height: auto;
  display: flex;
  margin: 10px;
  padding: 3% 3% 3% 10%;
  /* align-items: center; */
}
.wish_featured_bimage {
  justify-content: flex-start;
  width: 25%;
  height: 15em;
  padding: 2%;
}
.wish_featured_bimage img {
  height: 100%;
  width: auto;
}
.description {
  margin-top: 2%;
}
.wish_featured_bcard h3 {
  text-align: center;
}
.wish_featured_bcard p {
  /* text-align: center; */
  font-size: 0.8em;
  padding-top: 0.5em;
}
.wish_featured_bauthor p {
  font-style: italic;
  color: rgb(149, 142, 142);
}
.wish_featured_bprice {
  padding-top: 2%;
}
.wish_featured_bcategories {
  padding-top: 2%;
  color: #089da1;
}
.wish_featured_bbutton {
  padding: 30px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #089da1;
  height: auto;
  margin-top: 5%;
}
.wish_featured_bbutton a {
  font-size: 0.8em;
  padding: 0.2em;
  text-decoration: none;
  color: black;
}
/* footerstyling */

footer {
  background-color: #089da1;
  box-shadow: 0 0 15px grey;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
}
.story {
  width: 50%;
}
.story p {
  padding-top: 1em;
}
footer ul i,
footer ul p {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  padding-left: 1em;
  padding-top: 1em;
}

/* mediaq */

@media screen and (max-width: 750px) {
  .nav1 ul {
    display: none;
  }
  .socialicon i {
    margin-left: 0.5em;
  }
  .bar {
    display: inline-block;
  }
  .nav2 {
    display: block;
  }
  .main-img {
    display: none;
  }
  .main-tag {
    width: 100%;
    padding-right: 5%;
  }
  .about {
    padding-top: 20%;
    flex-direction: column;
  }
  .about_tag {
    width: 100%;
    padding: 5% 5%;
  }
  .about_img {
    width: 80%;
  }
  .about_img img {
    width: 100%;
  }
}
.div3 {
  height: 100vh;
  width: 100vw;
}
